---
Language: Cpp
BasedOnStyle: LLVM

# 2-space indent (JS/TS standard)
IndentWidth: 2
ContinuationIndentWidth: 2
NamespaceIndentation: None
AccessModifierOffset: -2

# K&R braces (JS/TS standard)
BreakBeforeBraces: Attach

# Line length
ColumnLimit: 100

# Trailing commas
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: true

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<[a-z]+>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3

# Pointer/reference alignment (left)
PointerAlignment: Left
ReferenceAlignment: Left

# Penalty settings (encourage short functions)
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
